@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import "variables.scss";

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  color: $font-primary;
}

.container{
  max-width: 1184px;
  width: 93%;
  margin: 0 auto;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 46px;
  color: $font-primary;
  
  @media (max-width: $breakpoint-md) {
    font-size: 24px;
    line-height: 28px;
  }
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: $font-secondary;

  @media (max-width: $breakpoint-md) {
    font-size: 14px;
    line-height: 22px;
  }
}