$font-primary: #232323;
$font-secondary: rgba(35, 35, 35, 0.7);
$blue-color: #659DBD;
$blue-dark: #5B8DAA;
$white-color: #FFFFFF;

$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 480px;
